html,
body {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Controls
---------------------------------------------------------------------- */

.controls {
   /* padding: 1rem;
    background: #333;
    font-size: 0.1px;*/
	
	margin-top:10px;
	text-align: center;
}

.control {
    position: relative;
    display: inline-block;
    background: transparent;
	border: 2px solid #e5c89e;
    cursor: pointer;
    font-size: 18px;
    color: #e5c89e;
    transition: background 150ms;
	
	margin: 0 25px;
	padding: 5px 10px;
}

.control:hover {
    background: #e5c89e;
	color: #fff;
}

/*.control[data-filter]:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    border: 2px solid currentColor;
    border-radius: 2px;
    background: currentColor;
    transition: background-color 150ms, border-color 150ms;
}

.control[data-sort]:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-left: 2px solid;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    transform:  translateY(1px) rotate(45deg);
}

.control[data-sort*=":desc"]:after {
    transform:  translateY(-4px) rotate(-135deg);
}*/

.mixitup-control-active {
    background: #e5c89e;
	color: #fff;
}

.mixitup-control-active[data-filter]:after {
    background: transparent;
}

.control[data-filter] + .control[data-sort] {
    margin-left: .75rem;
}

/*.control[data-filter=".graphic"] {
    color: #91e6c7;
}

.control[data-filter=".web"] {
    color: #5ecdde;
}

.control[data-filter=".branding"] {
    color: #d595aa;
}

.control[data-filter="none"] {
    color: #2f2f2f;
}*/

/* Container
---------------------------------------------------------------------- */

.container {
    padding: 1rem;
    text-align: justify;
    font-size: 0.1px;
}

.container:after {
    content: '';
    display: inline-block;
    width: 100%;
}

/* Target Elements
---------------------------------------------------------------------- */

.mix,
.gap {
    display: inline-block;
    vertical-align: top;
}

.mix {
    background: #f2f2f2;
    border-top: .5rem solid currentColor;
    border-radius: 2px;
    margin-bottom: 1rem;
    position: relative;
	font-size: 25px;
}

.mix:before {
    content: '';
    display: inline-block;
    padding-top: 56.25%;
}

.mix.graphic {
    color: #91e6c7;
}

.mix.branding {
    color: #d595aa;
}

.mix.web {
    color: #5ecdde;
}

/* Grid Breakpoints
---------------------------------------------------------------------- */

/* 2 Columns */

.mix,
.gap {
    width: calc(100%/2 - (((2 - 1) * 1rem) / 2));
}

/* 3 Columns */

@media screen and (min-width: 541px) {
    .mix,
    .gap {
        width: calc(100%/3 - (((3 - 1) * 1rem) / 3));
    }
}

/* 4 Columns */

@media screen and (min-width: 961px) {
    .mix,
    .gap {
        width: calc(100%/4 - (((4 - 1) * 1rem) / 4));
    }
}

/* 5 Columns */

@media screen and (min-width: 1281px) {
    .mix,
    .gap {
        width: calc(100%/5 - (((5 - 1) * 1rem) / 5));
    }
}


